.projects-ball {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: radial-gradient(circle at center, #3498db, #2980b9);
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.projects-ball:hover {
  animation: bounce 1.6s ease-in-out infinite;
  -webkit-box-shadow:0px 0px 105px 5px rgba(41,169,255,0.9);
-moz-box-shadow: 0px 0px 105px 5px rgba(41,169,255,0.9);
box-shadow: 0px 0px 105px 5px rgba(41,169,255,0.9);

}

/* Morph animation when clicking */
.projects-ball.morph-to-page {
  transform: scale(20);
  border-radius: 0%;
  opacity: 0.8;
  z-index: 1000;
}

.balls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}